<button
  [disabled]="!enabled"
  [class]="class"
  [ngClass]="{
    'transition-all duration-150 flex items-center justify-center border-box': true,
    'cursor-not-allowed opacity-50': !enabled || loading
  }"
  [appClassSwitch]="{color: color, size: size}"
  [appClassCases]="{
    size: {
      'small': 'py-1 px-2 text-sm rounded',
      'normal': 'py-3 px-4 text-lg font-medium rounded-lg'
    },
    color: {
      'default': 'text-gray-700 bg-gray-100 border border-gray-300 hover:bg-gray-200',
      'primary': 'text-white bg-blue-500 hover:bg-blue-600',
      'secondary': 'text-white bg-secondary-500 hover:bg-secondary-600',
      'danger': 'text-white bg-red-500 hover:bg-red-600'
    }
  }"
>
  <i-feather
    style="width: 24px; height: 24px"
    class="animate-spin block mr-2"
    *ngIf="loading"
    name="loader"
  ></i-feather>
  <ng-content></ng-content>
</button>
