<form
  class="space-y-8 w-full max-w-[32rem]"
  [formGroup]="formGroup"
  (ngSubmit)="handleSubmit()"
>
  <div class="mb-10">
    <app-title type="super">
      EventLab
    </app-title>
  </div>

  <ng-template [ngIf]="error" [ngSwitch]="error">
    <app-error *ngSwitchCase="true">
      Erro, tente novamente!
    </app-error>
    <app-error *ngSwitchCase="401">
      Usuário e senha incorretos, por favor tente novamente!
    </app-error>
    <app-error *ngSwitchCase="500">
      Erro ao validar usuário e senha, por favor tente novamente mais tarde!
    </app-error>
  </ng-template>

  <div>
    <app-input
      name="email"
      label="Email"
      type="text"
      [control]="email"
    ></app-input>
  </div>

  <div>
    <app-input
      name="password"
      label="Senha"
      type="password"
      [control]="password"
    ></app-input>
  </div>

  <div class="pt-4">
    <app-button class="w-full" [enabled]="this.formGroup.valid" [loading]="loading">
      Entrar
    </app-button>
  </div>

  <div class="mt-8 px-4 text-center">
    <a [routerLink]="'/auth/register'" class="w-full text-gray-500">
      <span>Ainda não possui uma conta?</span>
      <span class="ml-1 text-blue-500 hover:underline">Registre-se aqui</span>
    </a>
  </div>
</form>
