<div class="w-full flex flex-col items-center space-y-4">
  <app-schedule></app-schedule>
  <h2 class="text-3xl font-black">Nenhum evento aqui!</h2>
  <app-button>Criar evento</app-button>
</div>

<div *ngIf="events.length > 0" class="my-8 grid grid-cols-1 md:grid-cols-2 gap-8">
  <app-event
    *ngFor="let event of events"
    [event]="event"
    (onDelete)="handleOnDelete(event)"
    (onEdit)="handleOnEdit(event)"
    (onJoin)="handleOnJoin(event)"
    (onLeave)="handleOnLeave(event)"
  ></app-event>
</div>

<div *ngIf="events.length > 0" class="flex justify-center">
  <app-pagination></app-pagination>
</div>
