<app-container>
  <app-title (click)="this.creatingEvent = !this.creatingEvent">TokenLab</app-title>
  <app-event-list
    [events]="events"
    (onJoin)="handleOnJoin($event)"
    (onLeave)="handleOnLeave($event)"
    (onEdit)="handleOnEdit($event)"
    (onDelete)="handleOnDelete($event)"
  ></app-event-list>

  <app-modal-container *appModal="CREATING_EVENT">
    <div class="p-8 bg-white rounded">
      <app-event-form>

      </app-event-form>
    </div>
  </app-modal-container>

  <app-modal-confirm
    *appModal="LEAVING_EVENT"
    (onConfirmation)="this.onLeave(this.eventToLeave)"
    (onDismiss)="this.modalService.setVisible(LEAVING_EVENT, false)"
    action="Leave"
    title="Leaving event"
  >
    Are you sure you want to leave event <span class="font-medium">{{this.eventToLeave?.title}}</span>
  </app-modal-confirm>

  <app-modal-confirm
    *appModal="DELETING_EVENT"
    (onConfirmation)="this.onDelete(this.eventToDelete)"
    (onDismiss)="this.eventToDelete = undefined"
    action="Delete"
    title="Deleting event"
  >
    Are you sure you want to delete event <span class="font-medium">{{this.eventToDelete?.title}}</span>
  </app-modal-confirm>
</app-container>
