<app-container>
  <app-title>TokenLab</app-title>
  <app-event-list
    [events]="events"
    (onJoin)="handleOnJoin($event)"
    (onLeave)="handleOnLeave($event)"
    (onEdit)="handleOnEdit($event)"
    (onDelete)="handleOnDelete($event)"
  ></app-event-list>

  <app-modal-confirm
    *appModal="this.eventToBeLeft"
    (onConfirmation)="this.onLeave(this.eventToBeLeft)"
    action="Leave"
    title="Leaving event"
  >
    Are you sure you want to leave event <span class="font-medium">{{this.eventToBeLeft?.title}}</span>
  </app-modal-confirm>
</app-container>
