<app-container>
  <div class="flex items-center justify-between">
    <app-title (click)="this.creatingEvent = !this.creatingEvent">TokenLab</app-title>
    <app-button (click)="this.modalService.open(CREATING_EVENT)">Criar evento</app-button>
  </div>

  <div *ngIf="events$ | async | empty" class="w-full flex flex-col items-center space-y-4">
    <div class="flex justify-center w-64">
      <app-schedule></app-schedule>
    </div>
    <h2 class="text-3xl font-black">Nenhum evento aqui!</h2>
  </div>

  <app-event-list
    *ngIf="events$ | async as events"
    [events]="events"
    (onJoin)="handleOnJoin($event)"
    (onLeave)="handleOnLeave($event)"
    (onEdit)="handleOnEdit($event)"
    (onDelete)="handleOnDelete($event)"
  ></app-event-list>

  <app-modal-container *appModal="CREATING_EVENT;sticky:true">
    <app-event-form
      (onSubmit)="handleCreateSubmit($event)"
      (onCancel)="this.modalService.close(CREATING_EVENT)"
    ></app-event-form>
  </app-modal-container>

  <app-modal-container *appModal="EDITING_EVENT">
    <app-event-form
      [event]="eventToEdit"
      (onSubmit)="handleUpdateSubmit($event)"
      (onCancel)="this.modalService.close(EDITING_EVENT)"
    ></app-event-form>
  </app-modal-container>

  <app-modal-confirm
    *appModal="LEAVING_EVENT"
    (onConfirmation)="this.onLeave(this.eventToLeave)"
    (onDismiss)="this.modalService.close(LEAVING_EVENT)"
    action="Leave"
    title="Leaving event"
  >
    Are you sure you want to leave event <span class="font-medium">{{this.eventToLeave?.title}}</span>
  </app-modal-confirm>

  <app-modal-confirm
    *appModal="DELETING_EVENT"
    (onConfirmation)="this.onDelete(this.eventToDelete)"
    (onDismiss)="this.eventToDelete = undefined"
    action="Delete"
    title="Deleting event"
  >
    Are you sure you want to delete event <span class="font-medium">{{this.eventToDelete?.title}}</span>
  </app-modal-confirm>
</app-container>
